.App {
  text-align: center;
}
/*  */
.header {
  color: #333;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  margin-right: 5px;
  width: 400px;
}

.button {
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ListContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

.List button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.DoneListContainer{
  max-width: 1000px;
  margin: 0 auto;
}

.warningText{
  font-size: 13px;
  color: #dc3545;
}


@media (max-width: 768px){

  .input {
    padding: 8px;
    margin-right: 5px;
    width: 200px;
  }

  .List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .ListContainer {
    max-width: 400px;
    margin: 4px;
  }
}
